html {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-image: url("../images/galaxy3.png");
}

header h1 {
  background-color: white;
  color: purple;
  text-shadow: 7px 7px lightgray;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 3rem 2rem;
  font-size: 5rem;
  text-align: center;
  border-radius: 10rem;
}

h2 {
  font-size: 3.5rem;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  font-size: 4rem;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 7px 7px lightgray;
  color: black;
}

h4 {
  font-size: 3.5rem;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h5 {
  font-size: 1rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body p {
  transition: all 0.3s ease;
  background-color: #fff;
  margin: 1rem 0;
  border-radius: 3rem;
  padding: 1rem 1rem;
  cursor: pointer;
  border: 1px solid #ccc;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#celestialtime {
  width: 370px;
  height: 270px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px lightgray);
}
#latitud {
  width: 250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px lightgray);
}

#latitudmedellin {
  width: 400px;
  height: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px lightgray);
}
#longitude {
  width: 420px;
  height: 270px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px lightgray);
}
#meridian {
  width: 290px;
  height: 260px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px lightgray);
}
#parallel {
  width: 300px;
  height: 260px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px lightgray);
}
#eclipticc {
  width: 260px;
  height: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px lightgray);
}
#horizontalcoordinate1 {
  width: 430px;
  height: 260px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px lightgray);
}
#equatorialcoordinate {
  width: 300px;
  height: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px lightgray);
}
#diferencee {
  width: 300px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px lightgray);
}
#coordinatesystems {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px lightgray);
}
#solsequi {
  width: 420px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px lightgray);
}
#autumalequi {
  width: 420px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px lightgray);
}

#vernalequinox {
  width: 420px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px lightgray);
}
#othercara {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(5px 5px lightgray);
}

.titlestab1 {
  color: black;
  font-size: 28px;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#solstice {
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 7px 7px lightgray;
}

#title1 {
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 7px 7px lightgray;
}
#typesofcelestial {
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 7px 7px lightgray;
}
#equageo {
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 7px 7px lightgray;
}
#equinoxx {
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 7px 7px lightgray;
}

body p:hover {
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

footer {
  background-color: plum;
  padding: 3rem;
  color: black;
  border-radius: 10rem;
}

footer p {
  margin: 0;
}

footer a {
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: cornflowerblue;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  width: 800px;
  margin: 0 auto;
}

.tab {
  overflow: hidden;
  border: 5px solid plum;
  background-color: white;
  width: 800px;
  margin: 0 auto;
  border-radius: 10rem;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.5s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: lightgray;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0.25rem 0;
  border: 1px solid #ccc;
  background-color: #fff;
  border-top: none;
  border-radius: 0.5rem;
  width: 800px;
  margin: 1rem auto;
}

.tabcontent {
  animation: fadeEffect 2s; /* Fading effect takes 2 second */
}
